*{
    background-color: #1F0514;
    color: #D8CBC7;
    font-family: 'Poppins', sans-serif;
}
.center{
    justify-content: center;
    display: grid;
    align-items: center;
    height: 100vh;
}
.splash{
    display: flex;
    align-items: center;
}
.text{
    text-align: center;
}
.buttons{
    text-align: center;
}
button{
    margin: -3px;
    padding: 8px 16px;
}
h1{
    color: #F55308;
}
h1, h3{
    margin: 0;
}
h2{
    margin: 16px;
}
.isabel{
    width: 25vw;
}