*{
    color: #D8CBC7;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
/* Top splash bit */
.center{
    justify-content: center;
    display: grid;
    align-items: center;
    height: 100vh;
    background-image: url(images/IMG_9263.JPG);
    background-size: cover;
}
.splash{
    display: flex;
    align-items: center;
}
.isabel{
    height: 150px;
    width: 150px;
    background-image: url(./images/Isabel.svg);
}
.isabel:hover{
    height: 150px;
    width: 150px;
    background-image: url(./images/imageOfMe.svg);
}
.text{
    text-align: center;
}
h1{
    color: #F55308;
}
h1, h3{
    margin: 0;
}
h2{
    margin: 16px;
}
.links{
    margin: 4px;
    height: 15px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 35%;
    background-color: #D8CBC7;
}
.links:hover{
    background-color: #F55308;
}
.buttons{
    text-align: center;
}
.button{
    color: #D8CBC7;
    margin: -3px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #D8CBC7;
}
.button:hover{
    background-color: #1F0514;
}
a{
    text-decoration: none;
}

/* Scroll tracker */
.scroll-tracker{
    position: fixed;
    inset: 0 0 auto;
    height: .5rem;
    background-color: #F55308;
    transform-origin: left;
}

/* Main body */
.mainBody{
    background-color: #1F0514;
}
